@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --electric-indigo: #5E2BFF;
  --periwinkle: #CEC2FF;
  --dark-spring-green: #1C7C54;
  --sage: #BCB382;
  --zaffre: #0D21A1;
  --light-gray: #f5f5f5;
  --light-blue: #94DFFF;
  --text-blue: #6CD3FF
}

.App {
  background-color: var(--light-gray);
}

h1, h2, h3, p, a, label {
  font-family: "Inter";
}