.post {
    width: 40vw;
    min-height: 20vh;
    border: 2px solid var(--electric-indigo);
    border-radius: 10px;
    margin: 20px auto;
    background-color: white;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.post .header {
    height: 40px;
    display: flex;
    justify-content: space-between;
    background-color: var(--electric-indigo);
    border-radius: 7px 7px 0 0;
}

.user {
    font-size: 16px;
    display: flex;
    text-align: left;
}

.header p {
    margin: 10px;
    color: white;
}


.post .body {
    width: 80%;
    margin: 10px auto;
    text-align: center;
    cursor: pointer;
    height: 80%;
}

.post .body h2 {
    padding: 10px;
    margin: auto;
    font-weight: 500;
}

.post .body p {
    padding: 10px;
    margin: auto;
    font-weight: 200;
    font-size: 18px;
}

.post-buttons {
    padding: 20px;
    height: 50px;
    display: flex;
    margin-top: auto;
    margin-bottom: 0;
    justify-content: space-between;
}

