.post {
    max-width: 60vw;
    min-width: 30vw;
    border-radius: 10px;
    margin: 5px;
    background-color: white;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.post .header {
    display: flex;
    padding: 10px;
}

.post .profile-pic {
    width: 90px;
    height: 90px;
    overflow: hidden;
    background-color: var(--light-gray);
    border-radius: 50%;
}

.post .header .name-and-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.post .header .name-and-date .date {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
}

.post .header .name-and-date .user {
    color: black;
    margin: 10px;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    text-align: left;
    margin: 5px 0;
}

.post .post-body {
    width: 80%;
    margin: 10px auto;
    text-align: center;
    cursor: pointer;
    height: 80%;
}

.post .post-body h2 {
    padding: 10px;
    margin: auto;
    font-weight: 500;
}

.post .post-body p {
    padding: 10px;
    margin: auto;
    font-weight: 200;
    font-size: 18px;
}

.post .footer {
    padding: 20px;
    display: flex;
    margin-top: auto;
    margin-bottom: 0;
    justify-content: space-between;
    z-index: 2;
}

.post .footer .likes {
    display: flex;
    align-items: center;
    margin: 0;
}

.post .footer .likes p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}